// bower:scss
// endbower

body {
  background: #fafafa;
  font-family: monospace;
  color: #333;
}

.hero-unit {
  margin: 10px auto 10px auto;
  width: 800px;
  background-color: #eee;
  border-radius: 6px;
  padding: 10px;
}

.chart {
  height: 400px;
  width: 810px;
  margin: 10px;
  margin: 10px auto;
  border: 3px solid #eee;
  border-radius: 6px;
}

.node {
  font-size: medium;
  text-align: center;
  color: #333;
  padding: 0 5px;
  border: 2px solid #eee;
  border-radius: 3px;
}

.center {
  text-align: center;
}
